td
{
	text-align: center;
}

#infoMessage
{
	margin-bottom: 12px;
	margin-left: 22px;
}

.banner
{
    width: 100%;
    background-image: url(color.jpg);
    height: 110px;
}

.table
{
	margin-top: 50px;
	width: 100%;
}

.note
{
	text-align: center;
	color: #fff;
    font-size: large;
	padding-bottom: 250px;
}

.center
{
	text-align: center;
}

.prompt
{
	margin-bottom: 400px;
}

.userSalute
{
	margin-top: 5%;
	margin-bottom: 200px;
}

.salute
{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.71);	
	/*
	background-image: url('color.jpg');
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation:animate 15s linear infinite;
	*/
	
}

.Greeting h1
{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.71);	
	/*
	background-image: url('color.jpg');
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation:animate 15s linear infinite;
	*/
}
/*
	@keyframes animate
	{
		0%{
			background-position: left 0px top 10px;
		}
		40%{
			background-position: left 800px top 10px;  
		}
	}
*/

.Greeting
{
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
	
}

.inline
{
	display: inline-block;
	color: #fff;
	font-size: x-large;
	margin-right: 50px;
}

.inlineNum
{
	display: inline-block;
	color: #fff;
	font-size: x-large;
	margin-right: 50px;
}

.textboxNum
{
	width: 247px;
	background: #fff;
	width: 340px;
	height: 50px;
	border:none;
	outline:none;
	padding: 0 25px;
	border-radius: 25px 25px 25px 25px ;
}

.textbox
{
	width: 247px;
	background: #fff;
	width: 340px;
	height: 50px;
	border:none;
	outline:none;
	padding: 0 25px;
	border-radius: 25px 25px 25px 25px ;
}

.usernameButton
{
	position: relative;
	left: -5px;
	margin-top: 50px;
	margin-left: 302px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}

.makeGuessButton
{
	position: relative;
	left: -5px;
	margin-top: 50px;
	margin-left: 325px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}

.playAgainButton
{
	position: relative;
    left: -5px;
    top: 30px;
    border-radius: 25px 25px 25px 25px;
    height: 75px;
    width: 175px;
    border: none;
    outline: none;
    cursor: pointer;
    background: grey;
    color: #fff;
    font-size: 18px;
}

.btn_mouseOver:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.error
{
	color: red;
	margin-left:270px;
	padding-top: 50px;
}

.errorNum
{
	color: red;
	margin-left:400px;
	padding-top: 200px;
}

.buttonNum
{
	position: relative;
	left: -5px;
	margin-top: 50px;
	margin-left: 411px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}

.range
{	
	color: #fff;
    font-size: large;
}

.rangeLocation
{
	padding-bottom: 42px;
}