
.box{
	width: 1000px;
	height: 550px;
	padding: 20px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 2px grey;
	background: linear-gradient(45deg,#f17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
	background-size: 600% 100%;
	animation: gradient 16s linear infinite;
	animation-direction: alternate;
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@keyframes gradient{
	0%{background-position: 0%;}
	100%{background-position: 100%;}
}

.error
{
	height: 10px;
}

.submitasp
{
	position: relative;
	left: -5px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}

.submitRow
{
	margin-right: 10%;
	padding: 50px;
} 
.playAgainasp
{
	position: relative;
	left: -5px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}