body 
{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background-image: url("brickwall.png");
}
.numberButton
{
	padding: 50px;
}
td {text-align: right;}
	
	/*p {align="center";}*/
	
table 
{
	padding: 20px;
	
}

td {
	
	text-align: center;
	width: 300px;
	height: 40px;
}	

.name
{
	width: 40%;
	height: 20px;
}
input[type="submit"]:hover{
	background: #ff5722;
}
.nameButton
{
	padding: 50px;
}
.namebox
{
	padding: 20px;
} 
.numberbox
{
	padding: 20px;
} 
h1
{
	margin: 0 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 30px;;
}
h2
{
	margin: 0 0 0 10px;
	padding: 0;
	color: black;
	font-size: 30px;;
}
input
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}
.box{
	width: 1000px;
	height: 550px;
	padding: 20px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 2px grey;
	background: linear-gradient(45deg,#f17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
	background-size: 600% 100%;
	animation: gradient 16s linear infinite;
	animation-direction: alternate;
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@keyframes gradient{
	0%{background-position: 0%;}
	100%{background-position: 100%;}
}
input[type="text"]
{
	background: #fff;
	width: 340px;
	height: 50px;
	border:none;
	outline:none;
	padding: 0 25px;
	border-radius: 25px 25px 25px 25px ;	
}
.submitName
{
	position: relative;
	left: -5px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}
.Submitnum
{
	position: relative;
	left: -5px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 150px;
	border: none;
	outline: none;
	cursor:pointer;
	background:grey;
	color: #fff;
}